# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders=pd.read_csv('../data/Orders.csv')

In [4]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [26]:
orders2=orders.loc[orders['CustomerID'].unique()]

In [20]:
orders.groupby('CustomerID')['amount_spent'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [29]:
orders2['Total_amount_spent'].sort_values(ascending=False)

14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: Total_amount_spent, Length: 4339, dtype: float64

In [21]:
orders['Total_amount_spent']=orders.groupby('CustomerID')['amount_spent'].sum()

In [31]:
orders2['Group']=pd.qcut(orders2['Total_amount_spent'],
                    q=[0,.75,.95,1], labels=['regular', "preferred", "VIP"])

In [33]:
# your code here
orders2

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total_amount_spent,Group
17850,28238,538631,22294,2010,12,1,13,heart filigree dove small,72,2010-12-13 13:27:00,1.25,13408,United Kingdom,90.00,5391.21,preferred
13047,19926,537955,22423,2010,12,4,11,regency cakestand 3 tier,2,2010-12-09 11:28:00,12.75,16782,United Kingdom,25.50,3237.54,preferred
12583,19451,537861,22111,2010,12,3,16,scottie dog hot water bottle,3,2010-12-08 16:18:00,4.95,16596,United Kingdom,14.85,7281.38,VIP
13748,20670,538069,22834,2010,12,4,14,hand warmer babushka design,3,2010-12-09 14:08:00,2.10,16795,United Kingdom,6.30,948.25,regular
15100,23655,538208,22271,2010,12,5,11,feltcraft doll rosie,1,2010-12-10 11:39:00,2.95,14037,United Kingdom,2.95,876.00,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13436,20320,538035,20728,2010,12,4,13,lunch bag cars blue,3,2010-12-09 13:03:00,1.65,16065,United Kingdom,4.95,196.89,regular
15520,24078,538312,20975,2010,12,5,13,12 pencils small tube red retrospot,3,2010-12-10 13:48:00,0.65,16727,United Kingdom,1.95,343.50,regular
13298,20182,538012,21485,2010,12,4,12,retrospot heart hot water bottle,2,2010-12-09 12:32:00,4.95,14527,United Kingdom,9.90,360.00,regular
14569,23122,538178,22057,2010,12,5,9,ceramic plate strawberry design,24,2010-12-10 09:51:00,1.49,17696,United Kingdom,35.76,227.39,regular
12713,19581,537868,22626,2010,12,3,16,black kitchen scales,2,2010-12-08 16:49:00,8.50,12433,Norway,17.00,848.55,regular

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [52]:
# your code here
orders2.loc[orders2['Group']=='VIP'].groupby('Country').max()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,amount_spent,Total_amount_spent,Group
Country,,,,,,,,,,,,,,,
EIRE,23869,538255,47567B,2010,12,5,12,tea time kitchen apron,12,2010-12-10 12:33:00,12.75,14911,76.50,60767.90,VIP
France,23288,538196,22667,2010,12,5,12,set/10 pink polkadot party candles,24,2010-12-10 10:56:00,10.95,12731,135.00,28882.44,VIP
Germany,28565,538644,POST,2010,12,5,14,woodland party bag + sticker set,24,2010-12-13 14:39:00,18.00,12712,59.40,42055.96,VIP
Japan,25758,538397,22718,2010,12,7,11,card cat and tree,72,2010-12-12 11:44:00,0.36,12753,25.92,6675.71,VIP
Norway,19577,537868,85150,2010,12,3,16,set/20 red retrospot paper napkins,48,2010-12-08 16:49:00,7.95,12433,30.60,17628.46,VIP
Portugal,24040,538311,22411,2010,12,5,13,wooden box of dominoes,12,2010-12-10 13:48:00,1.95,12797,19.50,11054.96,VIP
Spain,27282,538525,22494,2010,12,4,14,home building block word,6,2010-12-13 09:39:00,5.95,17097,35.70,20275.61,VIP
United Kingdom,28629,538651,90060D,2010,12,7,19,wood s/3 cabinet ant white finish,400,2010-12-13 15:07:00,39.95,18118,360.00,280206.02,VIP

In [63]:
orders2.groupby('Country')['Group'].max()

Country
Channel Islands    preferred
Denmark            preferred
EIRE                     VIP
France                   VIP
Germany                  VIP
Japan                    VIP
Norway                   VIP
Portugal                 VIP
Spain                    VIP
United Kingdom           VIP
Name: Group, dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [75]:
# your code here
orders.loc[orders2[(['Group']=='VIP')&(['Group']=='preferred')]].groupby('Country').max()

KeyError: False